/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: 'PlayfairDisplay1';
  src: url(font/PlayfairDisplay\ 1.ttf)format(TrueType);
}

@font-face {
  font-family: 'Lobster2';
  src: url(font/Lobster2.ttf)format(TrueType);
}

html
{
  font-family: 'PlayfairDisplay1';
}

h1, h2
{
  font-family: 'Lobster2';
} 

html

{
font-size: 16px;
}

p, li
{
  line-height: 1.5;
}

h1{
  text-align: center;
}

h1, h2, p, li

{
letter-spacing: 1px;
}

a:hover, a:focus

{
  text-decoration: underline;
}

h1 + p, h2 + p
{
  text-indent: 20px;
}

a, a:visited, a:focus, a:hover

{
  color: #a66;
  text-decoration: none;
}

a{
  outline: none;
}

ol{
  list-style-type: lower-alpha;
}

ul{
  list-style-type: square;
}

nav a, nav a:visited{
  color: #a66;
  color: #f00;
  text-decoration: underline;
}

nav ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border:#a66 2px solid;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

section p a::after{
  content: url(external-link-52.png);
}